<!DOCTYPE html>
<html>
<head>
  <title>Email Notification</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      text-align: center;
    }
    .container {
      background-color: #ffffff;
      width: 80%;
      max-width: 600px;
      margin: 20px auto;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h1 {
      color: #333333;
    }
    p {
      font-size: 16px;
      color: #666666;
      text-align: left;
    }
    a {
      display: inline-block;
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 16px;
      color: #ffffff;
      background-color: #007bff;
      text-decoration: none;
      border-radius: 5px;
    }
    a:hover {
      background-color: #0056b3;
    }
    .footer {
      font-size: 12px;
      color: #999999;
      text-align: left;
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="email-content">

      <div class="uk">
        <p>Шановний клієнте,</p>
        <p>Дякуємо за реєстрацію та вибір нашої компанії!</p>
        <p>У цьому листі ви знайдете всі необхідні реквізити для проведення оплати, а також інструкції для доступу до вашого профілю:</p>
        <p>Реквізити для оплати:</p>
        <p>Номер рахунку: 4149499388953604</p>
        <p>Банк: Приват 24</p>
        <p>Отримувач: Пугач Алла</p>
        <p>Дані для доступу до вашого профілю:</p>
        <p>Ми інформуємо, що після здійснення оплати, будь ласка, надішліть квитанцію або скріншот з телефону, що підтверджує виконання платежу, у відповідь на цей лист. Одразу після підтвердження вашої оплати ми відправимо вам логін та пароль до вашого профілю.</p>
        <p>Ми завжди готові допомогти та забезпечити вам найкращий досвід співпраці з нашою компанією. За номером телефону : +380 97 224 45 70</p>
        <p>З найкращими побажаннями,</p>
        <p>Співпласник та представник</p>
        <p>Компанії, Remembering Time</p>
        <p>Пугач Денис Костянтинович</p>
      </div>
    </div>
  </div>
</body>
</html>




