<!DOCTYPE html>
<html>
<head>
  <title>Email Notification</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      text-align: center;
    }
    .container {
      background-color: #ffffff;
      width: 80%;
      max-width: 600px;
      margin: 20px auto;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h1 {
      color: #333333;
    }
    p {
      font-size: 16px;
      color: #666666;
      text-align: left;
    }
    a {
      display: inline-block;
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 16px;
      color: #ffffff;
      background-color: #007bff;
      text-decoration: none;
      border-radius: 5px;
    }
    a:hover {
      background-color: #0056b3;
    }
    .footer {
      font-size: 12px;
      color: #999999;
      text-align: left;
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="email-content">
 
      <div class="pl">
        <p>Drogi kliencie,</p>
        <p>Dziękujemy za zakup wirtualnego profilu od Remembering Time LLC! W ciągu 24 godzin wygenerujemy Twój profil i prześlemy Ci wszystkie niezbędne instrukcje dostępu.</p>
        <p>Wysłaliśmy już również specjalny prezent, który powinien zostać dostarczony pod wskazany adres w ciągu 1-2 dni roboczych, biorąc pod uwagę aktualne obciążenie poczty.</p>
        <p>Jeśli zauważysz błąd w adresie dostawy, poinformuj nas o tym.</p>
        <p>W przypadku dodatkowych pytań można skontaktować się z nami telefonicznie:</p>
        <p>Telegram / What’s up / Viber : +14028817173 USA</p>
        <p>Z najlepszymi życzeniami,</p>
        <p>Zespół Remembering Time LLC</p>
        <p class="footer">4735 SE Ave 116, Portland, Oregon, USA</p>
      </div>
      
  
    </div>
  </div>
</body>
</html>




