<!DOCTYPE html>
<html>
<head>
  <title>Email Notification</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      text-align: center;
    }
    .container {
      background-color: #ffffff;
      width: 80%;
      max-width: 600px;
      margin: 20px auto;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h1 {
      color: #333333;
    }
    p {
      font-size: 16px;
      color: #666666;
      text-align: left;
    }
    a {
      display: inline-block;
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 16px;
      color: #ffffff;
      background-color: #007bff;
      text-decoration: none;
      border-radius: 5px;
    }
    a:hover {
      background-color: #0056b3;
    }
    .footer {
      font-size: 12px;
      color: #999999;
      text-align: left;
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="email-content">
      <div class="en">
        <p>Dear customer,</p>
        <p>Thank you for purchasing a virtual profile from Remembering Time LLC! Within 24 hours we will generate your profile and send you all the necessary instructions for access.</p>
        <p>We have also already sent you a special gift, which should be delivered to the specified address within 1-2 business days, taking into account the current workload of the Post Office.</p>
        <p>If you notice a mistake in the delivery address, please inform us about it.</p>
        <p>For additional questions, you can contact us by phone:</p>
        <p>Telegram / What's up / Viber : +14028817173 USA</p>
        <p>Best regards and best wishes,</p>
        <p>The Remembering Time LLC team</p>
        <p class="footer">4735 SE Ave 116, Portland, Oregon, USA</p>
      </div>
    </div>
  </div>
</body>
</html>




